@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'minecraftmedium';
    src: url('minecraft-webfont.woff2') format('woff2'),
         url('minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
} 

body {
	background: black;
	color: white;
	font-family: 'minecraft';
}

.frame {
	background: black url("inthecave.jpg");
	width: 1000px;
	height: 640px;
	margin: 0px auto;
	position: relative;
}

p{
	font-size:30px;
	position: relative;
	top: 100px;
	left: 10px;
	filter: drop-shadow(4px 4px 1px black);
	-webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
	transform: rotate(-2deg) ;
}

.what{
	position:absolute;
	top:190px;
	left:700px;
	opacity:0;
	-webkit-transform:rotate(2deg);
	transform:rotate(2deg);
	    -webkit-animation: fadeIn 2s; /* Chrome, Safari, Opera */
        animation: fadeIn 2s;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        -webkit-animation-fill-mode:forwards; 
	    animation-fill-mode:forwards;
}

a{
	text-decoration: none;
	color: #f6eb14;
	filter: drop-shadow(3px 3px 0px #3f3f00);
}

.gravel{
	position:absolute;
	top:500px;
	left: 150px;
	font-size: 30px;
	opacity:0;
		-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
	transform: rotate(3deg);
		 -webkit-animation: fadeIn 2s; /* Chrome, Safari, Opera */
        animation: fadeIn 2s;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        -webkit-animation-fill-mode:forwards; 
	    animation-fill-mode:forwards;
}

.torches{
	position: absolute;
	top: 500px;
	left:560px;
	font-size:30px;
	opacity:0;
	-webkit-animation: fadeIn 2s; /* Chrome, Safari, Opera */
        animation: fadeIn 2s;
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
        -webkit-animation-fill-mode:forwards; 
	    animation-fill-mode:forwards;
}

a:hover{
		transform: scale(1.1);
	transition: 1s;
}